awkward
coffea
EnergyFlow
h5py
horovod
keras
matplotlib
numba
numpy
pandas
PyYAML
Requests
scikit_learn
scipy
tensorflow
torch
torch_cluster
torch_geometric
tqdm
uproot
uproot3
vector
onnxruntime-gpu
tf2onnx
